h1, h3 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h1 {
    padding-top: 15px;
}

.custom-card {
    text-align: center;
}

.card-container {
    padding: 1% 10% 2%;
}

.card-link {
    font-family: 'Permanent Marker', cursive;
    color: #EA8A30
}