div {
    justify-content: center;
}

nav {
    font-family: 'Permanent Marker', cursive;
}

.footer-link {
    text-align: center;
    position: sticky;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Permanent Marker', cursive;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-shrink: 1;
}

.helloKT {
    color: white !important
}